*{
  overflow-x: hidden;
}
@font-face {
  font-family: octinSportsRg;
  src: url(./octinSportsRg.ttf);
} 
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color:#282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.containerr{
  font-family: "Poppins", sans-serif;
  line-height: 1.80857;
  font-weight: lighter;
}
.homepage{
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
}
.leftside{
  background-image: url(images/banner-bg\ crop1.png);
  background-size: cover;
  width:20vw;
  height: 100vh;
  display: flex;
  flex-direction:column;
}
.rightside{
  background-image: url(images/banner-bg_crop.png);
  background-size: cover;
  width:80vw;
}

.logodiv{
  height:30vh;
  /* @media (max-width:449px) {
    width:60vw;
    height: 15vh;
  } */
}
.logo{
  height:100%;
}
.logo img{
  height:100%;
  width:100%;
}
.h_carousel{
  width: 100%;
  height: 70vh;
  display: flex;
  margin-top: 5vh;
  margin-bottom: 5vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.active{
  width: 100%;
  height: 70vh;
  display: flex;
  margin-top: 5vh;
  margin-bottom: 5vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

}
.links{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #ffffff;
  width:80%;
  /* padding-top:5vh; */
  border-bottom: 1px solid #393939;
}
.linking{
  color: #ffffff;
  font-size: 1vw;
  font-weight: lighter;
  text-decoration: none;
  
}
.links li{
  margin-bottom: 2.57vh;
}
.contacts div{
  margin-bottom: 2.57vh;
}
.linking:hover{
  color:#fc3e59;
}
.links ul{
  list-style: none;
}
.element{
  margin-left: 0.6vw;
}
.elementscon{
  margin-left: 0.8vw;
}
.contacts{
  display: flex;
  flex-direction: column;
  padding-top:5vh;
  justify-content: space-evenly;
  align-items: center;
  color: #ffffff;
}
.linkingcon{
  color: #ffffff;
  font-size:1vw;
  text-align: center;
  font-weight: lighter;
  text-decoration: none;
}
.linkingcon2{
  color: #ffffff;
  font-size:1.1vw;
  text-align: center;
  font-weight: lighter;
  text-decoration: none;
}
.linkingcon2:hover{
  color:#fc3e59;
}

.linkingcon:hover{
  color:#fc3e59;
}
.contacts ul{
  list-style: none;
}

.socialmedia{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.img-fluidd{
  width:4vw;
  margin-right:10px;
  margin-left: 10px;
  border: 1px solid #ffffff;
}
.menu{
  display:none;
}


.menubars{
  height:25px;
  max-width:25px;
  width:25px;
  color: #ffffff;
  cursor: pointer;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top:15%;
  margin-left: 14vw;
}

.head {
  font-family: octinSportsRg;
  color: #fff;
  font-size: 95px;
  font-weight: 600;
}

.head2 {
  font-family: octinSportsRg;
  color: #fff;
  font-size: 95px;
  font-weight: 600;
  margin-top: -10vh;
  margin-left: 8px;
}

.para-page-1{
  width:85%;
  font-size: 17px;
  color: #ffffff;
  margin-top: -4vh;
  margin-left: 8px;
}
.contactbt{
  margin-top: 3.2vh;
  height:8vh;
  width:9.5vw;
  min-width:100px;
  margin-left: 0.3vw;
  font-family: octinSportsRg;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  background-color:#fc3e59;
  margin-top: 40px;
}
.contactbt:hover{
  background-color:#fff;
  color:black
}

.container2{
  /* height: 100vh; */
  padding-left: 24.7%;
  padding-right: 23.2%;
  display: flex;
  flex-direction: column;
  margin-bottom: 3%;
}
.r1{
  margin-left: -2%;
}

.about_title{
  font-family: octinSportsRg;
  text-align: center;
  font-weight: bold;
  font-size:5vh;
  color:#262626;
  margin-top: -1.23185vh;
  padding-top: 1vh;
  letter-spacing: 0.08vw;
  border-top: 1px solid #b3b3b3;
}
.diamond{
  position: relative;
  margin-top: 5.7vh;
  display: block;
  padding-left: 48.5%;
  height: 2.4vh;
  /* width: 1.26vw; */
}
.imgr2{
  margin-left: -8%;
  width:115%;
}
.r3{
  margin-top:5%;
  margin-left: -2%;
  text-align: center;
  font-size: 16px;
  font-family:sans-serif;
  line-height: 1.9;
}
.r4{
  text-align: center;
  width:12vw;
  padding-top: 2vh;
  margin-top: 4vh;
  /* margin-bottom: 1vh; */
  height: 5vh;
  margin-left: 38%;
  background-color: #0f0f0f;
}
.r4 a{
  font-family: octinSportsRg;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  font-size: 1.6vh;
}

.r4:hover{
 background-color:#fc3e59;
}





.container3{
  padding-left: 24.7%;
  padding-right: 23.2%;
  display: flex;
  flex-direction: column;
}
.c3r1{
  margin-left: -2%;
  
}

.happycouple{
  font-family: octinSportsRg;
  text-align: center;
  font-weight: bold;
  font-size:40px;
  color:#262626;
  margin-top: -1.23185vh;
  padding-top: 4.5vh;
  letter-spacing: 0.08vw;
  border-top: 1px solid #b3b3b3;
}
.diamond2{
  position: relative;
  margin-top: 5.7vh;
  display: block;
  padding-left: 48.5%;
  height: 2.4vh;
  /* width: 1.26vw; */
}
.c3r2{
  text-align: center;
  font-size: 1.8vh;
  font-family:sans-serif;
  line-height: 1.9;
  padding-left: 17%;
  padding-right: 21%;
  color: #929090;
}

.gallery{
  /* margin-left: -10%; */
  margin-left:-7vw;
  margin-right: -3vw;
  margin-top: 3%;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  height: 70vh;
  grid-gap: 1.5vw;
}

.grid-item1 {
  background-image: url(images/img-1.png);
  background-size: cover;
  background-position:center;
  grid-column: 1/2;
  grid-row: 1/5;
  cursor: pointer;
}

.grid-item2 {
  background-image: url(images/img-2.png);
  background-size: cover;
  background-position: center;
  grid-column: 2/3;
  grid-row: 1/3;
  cursor: pointer;
}

.grid-item3 {
  background-image: url(images/img-3.png);
  background-size:cover;
  background-position: center;
  grid-column: 2/3;
  grid-row: 3/5;
  cursor: pointer;
}

.grid-item4 {
  background-image: url(images/img-4.png);
  background-size: cover;
  background-position: center;
  grid-column: 3/4;
  grid-row: 1/5;
  cursor: pointer;
}
.overlay{
  opacity: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:10%;
}

.overlay:hover{
  opacity: 1;
  transition: .5s ease;
  background-color: rgb(252, 62, 89, 0.9);
}
.text{
  width: 50%;
  color: white;
  font-size: 2.57vh;

}
.jony_text{
  color: #ffffff;
  text-align: center;
  font-size: 17px;
  text-transform: uppercase;
  font-family: octinSportsRg;
  font-weight: lighter;
  border-bottom: 0.25vh solid #ffffff;
  width: 9vw;
  margin: 0 auto;
  text-align: center;
  padding-top: 30%;
  
}
.sometext{
  color: #ffffff;
  text-align: center;
  font-size: 14px;
}

.buy_bt a{
width: 70%;
text-align: center;
font-size: 14px;
color: #ffffff;
padding: 8px 0px;
background-color: transparent;
border: 0.7vh solid #ffffff;
text-transform: uppercase;
display: block;
margin: 0 auto;
text-decoration: none;
}
.btn_main{
  width: 100%;
  text-align: center;
}
.buy_bt{
  margin: 0 auto;
  text-align: center;
  width: 70%;
  padding-bottom: 20%;
}

.mainc4{
  margin-top: 10vh;  
  display: flex;
  flex-direction: row;
  min-height: 70vh;
}
.leftside2{
  width:51%;
  background-color: #262626;
  display: flex;
  flex-direction: row;
}
/* .blank{
  width:40%;

} */

.textside{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5%;
}
.rightside2{
  width: 49%;
  background-image: url(images/story-img.png);
  background-size: cover;
  background-position: center; 
}
.ourstory{
  font-family: octinSportsRg;
  font-weight: bold;
  font-size:5vh;
  color:#ffffff;
  letter-spacing: 0.08vw;
  padding-left: 40%;
}
.message{
  font-size: 1.79vh;
  line-height: 1.9;
  color: #eae7e7;
  padding-left: 40%;
  font-family: sans-serif;
  padding-right: 5%;
}
.seemore{
  width: 10vw;
  padding-left: 40%;
}
.seemore a{
  width: 100%;
  float: left;
  font-size: 1.8vh;
  color: #ffffff;
  background-color: #fc3e59;
  text-align: center;
  padding: 10px 0px;
  font-family: octinSportsRg;
  text-decoration: none;
}
.seemore a:hover{
  background-color: #ffffff;
  color:#0f0f0f;
}

.container5{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 4%;
  overflow-y: hidden;
}
.attending{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 15%;
}
.heading2{
  font-size: 40px;
  color: #252525;
  font-weight: bold;
  font-family: octinSportsRg;
}
.champagne{
  /* background-image: url(images/champage-img.png); */
  background-position: center;
  background-size: cover;
  margin-right: 5%;
  overflow-y: hidden;
  margin-top: 5%;
  height:50vh;
}
.champagne img{
  width:83%;
  

}
.textarea{
  width: 25.5vw;
  font-size: 3vh;
  color: #4f4e4e;
  border: 1px solid #8e8e8e;
  background-color: #ffff;
  padding: 1.9vh;
  height:7vh;
  margin-top: 3%;
  border-radius: 6px;
}
.submit{
  width: 10vw;
  min-width:100px;
}
.submit a{
  width: 100%;
  float: left;
  font-size: 1.8vh;
  color: #ffffff;
  background-color: #fc3e59;
  text-align: center;
  padding: 10px 0px;
  font-family: octinSportsRg;
  text-decoration: none;
  margin-top: 13%;
}
.submit a:hover{
  background-color: #0f0f0f;
  color:#ffffff;
}
.enjoytext{
  width: 90%;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
  margin-top: -29.5%;
  margin-left: -3%;
  line-height: 1.2;
  font-size: 3.6vh;
  font-family: octinSportsRg;
}

.showdetails{
  font-family: octinSportsRg;
  margin-top: 12vh;
}
.showdetails h3{
  margin-bottom: 30px;
}
.container6{
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.container6 img{
  width:100%;
}

.container7{
  padding-left: 24.7%;
  padding-right: 23.2%;
  display: flex;
  flex-direction: column;

}
.c7img{
  display: flex;
  position: relative;
  justify-content: space-around;
  margin-bottom: 40px;
}
.review2{
  display: flex;
  flex-direction: column;
  height:max-content;
  width: 45%;  
  /* padding: 0px 0.7vw; */
  border-radius: 6px;
  box-shadow: 0 0 10px #aaaaaa;
  border-bottom: 1.5px solid #e1e1e1;
  gap: 0.8vh;
}
.leftarrow i{
  padding: 3vh;
  background-color: #000;
  color: white;
  padding-bottom: 2vh;
  padding-top: 2vh;
}
.leftarrow{
  position: absolute;
  left: -12%;
  top: 40%;
}
.rightarrow{
  position: absolute;
  right: -12%;
  top: 40%;
}

.rightarrow i{
  padding: 3vh;
  background-color: #000;
  color: white;
  padding-bottom: 2vh;
  padding-top: 2vh;
}
.redpart{
  height: 12vh;
  background-color: #fc3e59;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.client{
  height: 30%;
  width:30%;
  margin-left: 35%;
  margin-top: -15%;
}
.qotation{
  height: 5%;
  width:5%;
  margin-left: 50%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.titlerev{
  text-align: center;
  color:  #fc3e59;
  font-family: octinSportsRg;
  font-weight: bold;
}
.prev{
  text-align: center;
  padding-left: 5%;
  width: 90%;
  color: #b2afaf;
}


footer{
  width: 100%;
  min-height: 400px;
  background-color: #363636;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 4vh;
  color: #f9f8f8;
  
}
.logo-footer{
  margin-top: 4%;
  justify-content: center;
  align-items: center;
  margin-left: 1%;
}
.logo-footer img{
  width: 80%;
  height: 80%;
}

.cont-footer{
  text-transform: uppercase;
  margin-top: 1vh;
}
.cont-footer h1{
  font-size: 24px;
  text-align: center;

}

.cont-container{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 3vw;

}
.cont-container span{
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 10px;
  color: #d2d1d1;
  font-size: 15px;
}
.copyright{
  color: #a5a5a5;
  padding-bottom: 2vh;
  border-top: 0.5px solid #4b4a4a;
  text-align: center;
  padding-top: 1%;
  width: 65%;
}

@media screen and (max-width:440px){
  .logo-footer{
    margin-left: 22%;
    margin-top: 8%;
  }
  .logo-footer img{
    width: 50%;
    height: 50%;
  }
  .review2{
      font-size: 14px;
  }
  .container7{
      padding-left: 7.7%;
      padding-right: 6.2%;
      gap:20px;
  }
  .grid-item2 {
      grid-column: 1/2;
      grid-row: 2/3;
  }
  .grid-item1 {
      grid-column: 1/2;
      grid-row: 1/2;
      background-position:unset;
  }
  .c3r2{
      padding-left: 0;
      padding-right: 0;
      width: 100%;
  }
  .happycouple{
    font-size:20px;
  }
  .contactbt{
    margin-left:8px;
  }
  .r3{
    font-size:11px;
  }


  .h_carousel{
    display: none;
    width: 100%;
    height: max-content;
    position:absolute;
    flex-direction: column;
    top: 15vh;
    margin-bottom: 0;
    margin-top: 0;
    margin-right:10px;
    background-color: #191919;
    padding-bottom: 30px;
  }
  .active{
    display: flex;
    width: 100%;
    height: max-content;
    position:absolute;
    flex-direction: column;
    top: 15vh;
    margin-bottom: 0;
    margin-top: 0;
    margin-right:10px;
    background-color: #191919;
    padding-bottom: 30px;
  }
  .homepage{
    flex-direction: column;
  }
  .cont-container{
      gap:0;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
  .cont-footer h1{
      font-size: 20px;
      text-align: center;
  }
  .footer{
    min-height: 200px;
  }
  .c7img{
      flex-direction: column;
      justify-content: center;
      gap:20px;
      margin-bottom: 20px;
  }
  .showdetails{
      text-align: left;
      margin-top: 6vh;
      margin-left: 15vw;
  }
  .showdetails h3{
    font-size: 16px;
  }
  .submit{
      margin-top: 3%;
  }
  .textarea{
    width: 50.5vw;
  }
  .champagne{
    display: none;
  }
  .heading2{
      align-items: center;
      text-align: center;
  }
  .attending{
      align-items: center;
      margin-left: 0;
  }
  .container5{
      flex-direction: column;
      align-items: center;
  }
  .message{
      padding-left: 10%;
  }
  .ourstory{
    padding-left: 10%;
}
  .rightside2{
      width:100%;
      min-height: 50vh;
  }
  .leftside2{
      width:100%;
      padding-top: 10%;
      padding-bottom: 10%;
  }
  .mainc4{
      flex-direction: column;
  }
  .jony_text{
    width:max-content;
  }
  .grid-item3 {
      grid-column: 1/2;
      grid-row: 3/4;
  }
  
  .grid-item4 {
      grid-column: 1/2;
      grid-row: 4/5;
      background-position: top;
  }
  .grid {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(4, 1fr);
      height: max-content;
  }
  .container2{
      padding-left: 14.7%;
      padding-right: 13.2%;
  }
  .para-page-1{
      line-height: normal;
      margin-top: 0vh;
      margin-left: 8px;
  }
  .head {
      font-size: 60px;
  }
  
  .head2 {
      font-size: 60px;
      margin-top: -7vh;
      margin-left: 8px;
  }
  .heading{
    margin-left: 30px;
  }
  .img-fluidd{
      border: 1px solid #ffffff;
      width: 14vw;
      margin-right:5px;
      margin-left: 5px;
  }
  .linking{
    font-size: 15px;
  }
  .linkingcon{
    font-size: 15px;
  }
  .linkingcon2{
    font-size: 17px;
  }
  .links{
      align-items: center;
      padding-top: 10px;
  }
  .logodiv{
      width:35vw;
      max-width: 120px;
      height: 15vh;
  }
  .logo{
    width: 100%;
  }
  .leftside{
      width:100vw;
      height: 15vh;
      flex-direction:row;
      justify-content: space-between;
  }
  .rightside{
      width:100vw;
      height:85vh;
      padding-bottom: 30px;
      background-position-x:center;
  }
  .menu{
    display: block;
    margin-top: 35px;
    margin-right: 30px;
  }

}
/* @media screen and (min-width:768px){
  .menu{
    display:none;
  }

} */
@media screen and (min-width:441px) and (max-width:767px){
  .h_carousel{
    display: none;
    width: 100%;
    height: max-content;
    position:absolute;
    flex-direction: column;
    top: 15vh;
    margin-bottom: 0;
    margin-top: 0;
    margin-right:10px;
    background-color: #191919;
    padding-bottom: 30px;
  }
  .active{
    display: flex;
    width: 100%;
    height: max-content;
    position:absolute;
    flex-direction: column;
    top: 15vh;
    margin-bottom: 0;
    margin-top: 0;
    margin-right:10px;
    background-color: #191919;
    padding-bottom: 30px;
  }
  .homepage{
    flex-direction: column;
  }
  .cont-container{
      gap:0;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
  .cont-footer h1{
      font-size: 20px;
      text-align: center;
  }
  .logo-footer{
    margin-left: 12%;
    margin-top: 8%;
  }
  .logo-footer img{
      width: 60%;
      height: 60%;
  }
  .footer{
    min-height: 200px;
  }
  .review2{
      width:100%;
  }
  .c7img{
      flex-direction: column;
      justify-content: center;
      gap:20px;
      margin-bottom: 20px;
  }
  .container7{
      padding-left: 14.7%;
      padding-right: 13.2%;
      gap:20px;
  }
  .showdetails{
      text-align: left;
      margin-top: 6vh;
      margin-left: 15vw;
  }
  .showdetails h3{
    font-size: 16px;
  }
  .submit{
      margin-top: 3%;
  }
  .textarea{
    width: 50.5vw;
  }
  .champagne{
    display: none;
  }
  .heading2{
      align-items: center;
      text-align: center;
  }
  .attending{
      align-items: center;
      margin-left: 0;
  }
  .container5{
      flex-direction: column;
      align-items: center;
  }
  .message{
      padding-left: 10%;
  }
  .ourstory{
    padding-left: 10%;
}
  .rightside2{
      width:100%;
      min-height: 50vh;
  }
  .leftside2{
      width:100%;
      padding-top: 10%;
      padding-bottom: 10%;
  }
  .mainc4{
      flex-direction: column;
  }
  .jony_text{
    width:max-content;
  }
  .grid-item3 {
      grid-column: 1/2;
      grid-row: 3/4;
  }
  
  .grid-item4 {
      grid-column: 1/2;
      grid-row: 4/5;
      background-position: top;
  }
  .grid-item2 {
      grid-column: 1/2;
      grid-row: 2/3;
  }
  .grid-item1 {
      grid-column: 1/2;
      grid-row: 1/2;
      height:50vh;
      background-position:top;
  }
  .grid {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(4, 1fr);
      height: max-content;
  }
  .c3r2{
      padding-left: 2%;
      padding-right: 2%;
      width: 100%;
  }
  .happycouple{
    font-size: 30px;
  }
  .container2{
      padding-left: 14.7%;
      padding-right: 13.2%;
  }
  .para-page-1{
      line-height: normal;
      margin-top: 0vh;
      margin-left: 8px;
  }
  .head {
      font-size: 60px;
  }
  
  .head2 {
      font-size: 60px;
      margin-top: -7vh;
      margin-left: 8px;
  }
  .heading{
    margin-left: 30px;
  }
  .img-fluidd{
      border: 1px solid #ffffff;
      width: 14vw;
      margin-right:5px;
      margin-left: 5px;
  }
  .linking{
    font-size: 15px;
  }
  .linkingcon{
    font-size: 15px;
  }
  .linkingcon2{
    font-size: 17px;
  }
  .links{
      align-items: center;
      padding-top: 10px;
  }
  .logodiv{
      width:35vw;
      max-width: 120px;
      height: 15vh;
  }
  .logo{
    width: 100%;
  }
  .leftside{
      width:100vw;
      height: 15vh;
      flex-direction:row;
      justify-content: space-between;
  }
  .rightside{
      width:100vw;
      height:85vh;
      padding-bottom: 30px;
      background-position-x:center;
  }
  .r3{
    font-size: 13px;
  }
  .menu{
    display: block;
    margin-top: 35px;
    margin-right: 30px;
  }

}


